* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --background-color: #ffffff;
    --text-color: #ffffff;
    --primary-color: #cc0000;
    --secondary-color: #009900;
    --nav-bg-color: #404040;
  }

  /* ------------------------------ CUSTOM BTN ------------------------------ */

  .crimson-button {
    background-color: crimson;
    color: white;
    padding: 10px 20px;
    border: 3px orangered solid;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .crimson-button:hover {
    background-color: #dc143c;
    transform: translateY(-2px);
  }

  .crimson-button:active {
    background-color: #b22222;
    transform: translateY(0);
  }

  .crimson-button:focus {
    outline: none;
  }


  /* ------------------------------ NAVBAR ------------------------------ */

  .nav-bar {
    background-color: #202020;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    font-family: Arial, sans-serif;
  }

.nav-logo {
    width: 100px;
    height: auto;
    filter: drop-shadow(red 0 0 2px);
}


.nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-link {
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ffcc00;
}

.nav-user {
    display: flex;
    align-items: center;
}

.welcome-message {
    font-size: 18px;
    margin-right: 15px;
}


  /* ------------------------------ VIAJE SELECTOR ------------------------------ */

.vs-general-container {
    width: 90%;
    margin: 0 auto 20px auto;
    padding-top: 25px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: #404040;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    align-items: end;
}

.vs-item-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vs-icon {
    width: 50px;
    height: 50px;
}

.vs-input {
    width: 100%;
    height: 50px;
    color: var(--text-color);
    background-color: #404040;
}


.vs-confirm-div {
    margin: 20px auto;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    background-color: #404040;
    border-radius: 10px;
    overflow: hidden;
    transition: 1s all;
}

.vs-confirm-item {
    height: 100%;
    align-content: center;
    transition: 1s all;
    font-size: 1em;
}

.vs-confirm-item:hover{
    transition: 0.25s all;
    background-color: #606060;
}


/* ------------------------------ Bienvenida  ------------------------------ */

.bienvenida-container {
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.bienvenido-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 10px;
}

.bienvenida-img {
    width: 400px;
    height: auto;
    margin: 20px 0;
}

.bienvenida-msg {
    color: white;
    margin: 10px 0;
    font-size: 2em;
    text-shadow: 1px 1px 5px red;
}

.bienvenida-minimsg{
    color: white;
    margin: 10px 0;
    font-size: 1.25em;
    text-shadow: 1px 1px 5px red;
}

/* ------------------------------ Modal ------------------------------ */


.modal-general {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: grid;
    align-content: center;
    justify-content: center;
}

.modal-bg {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 75%;
    position: absolute;
    top: 0;
    left: 0;
}

.modal-div {
    width: 300px;
    display: grid;
    align-items: center;
    align-content: c;
    background-color: #202020;
    position: relative;
    padding: 25px;
    border: 2px solid white;
    border-radius: 20px;
}

.modal-text {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 20px;
    font-weight: 500;
}
